body{
     /* background-image: url("/Team/images/galllerybg.jpeg"); */
 /* background-repeat: no-repeat;
 background-size: cover;  */
 background-color: black;
 /* z-index: 0; */
}
.cont9{
    z-index: 1;
}
.container{
    padding: 33px 80px;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    margin: auto;
    z-index: 1;
    width: 886px;
}
.cont{
    padding: 33px 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 886px;
}
.header {
    font-family: "Playfair Display";
    font-size: 24px;
    font-weight: 700;
    text-shadow: rgb(0 0 0 / 50%) 0 10px 10px;
}

.content{
    z-index: 10000;
    color: white;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    padding-top: 30px;
}
.cont2{
    width: 3000px;
}

@media screen and  (max-width:768px){
    .container{
        width: auto;
    }
}
@media screen and  (min-device-width:769px){
    #app{
        /* width: auto; */
        padding: 33px 31px;
    }
}
.cont2{
    /* flex-direction: column; */
}