
header{
    top: 0;
    left: 0;
  
    width: 100%;
    background-color: black;
    height: 9%;
    position: fixed;
    z-index: 1000;
  }
  .nav{
    margin: 0.5% -1%;
    /* justify-content: space-between; */
  
  }
  .nav button{
    /* justify-content: space-between; */
    margin-left: 6%;
    background-color: black;
    font-size: large;
    border-radius : 50px;
    padding: 10px 13px;
    color: white;
  }
  .nav button:hover{
    cursor:pointer;
    background-color: #cc2232;
  }
  .mac{
    width: 12%;
    height: 3.5vh;
    background-color: black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: -1%;
    margin-left: 42%;
    /* margin-bottom: 10%; */
  }
  
  
body{
    background: url(./old-grunge-dark-textured-wooden-background-surface-old-brown-wood-texture.jpg);
}
  

img{
    width: 720px;
    height: 538.16px;
    display: flex;
    margin-top: 7%;
    margin-left: auto;
    margin-right: auto;
}

.button16{
    background-color: #24E500;
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    width: 100px;
    height: 50px;
    display: inline-block;
    margin-top: 20px;
    /* position: fixed; */
}
.button17{
    background-color: #24E500;
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    width: 100px;
    height: 50px;
    display: inline-block;
    /* margin-top: -40px; */
}
.button18{
    background-color: #24E500;
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    width: 100px;
    height: 50px;
    margin-top: 20px;
}
.button19{
    background-color: #24E500;
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    width: 100px;
    height: 50px;
    margin-top: 20px;
}
