* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
}

header{
  
  width: 100%;
  background-color: black;
  height: 9%;
  position: fixed;
  z-index: 1000;
}
.nav{
  margin: 0.5% 1%;
  justify-content: space-between;

}
.nav button{
  background-color: black;
  font-size: large;
  border-radius : 50px;
  padding: 10px 13px;
  color: white;
}
.nav button:hover{
  cursor:pointer;
  background-color: #cc2232;
}




/* .list button{
 /* margin: 5% 100px; */
  /* margin-left: 5%; */
  /* padding: 3% 0%;
 
  
  background-color: black;
  
  border-radius : 50px;
  
  color: white;
}
.list button:hover{
  
  cursor: pointer;
  background-color: #cc2232; */
/* }  */
.mac{
  width: 12%;
  height: 6vh;
  background-color: black;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: -1%;
  margin-left: 42%;
}


body {
  height: 107vh;
  /* background:url("./bg.png"); */
  /* height: 100%; */
}

section {
  position: relative;
  margin-top: 2%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

section:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  /* background: linear-gradient(to top, #000000, transparent); */
  z-index: 100000;
}

.sec {
  position: relative;
  /* padding-bottom: 10px; */
   overflow: hidden;
}

h2 {
  font-size: 2.5em;
  color: #fff;
  margin-bottom: 10px;
}

p {
  font-size: 1.2em;
  color: #fff;
}

img#bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

img#simran {
  position: absolute;
  /* top: 180%;
  z-index: 10000; */
right: 1500px;
  top: 90%;
  width: 48px;
  height: 64px;
  /* width: 100%; */
  /* transform: scale(0); */
}

img#train {
  position: absolute;
  /* right: 1000px; */
  right: 80%;
  top: 55%;
  max-width: 100%;
  height: 50%;
  /* transform: scale(0); */
}

img#pe {
  position: absolute;
  /* right: 1000px; */
  top: -5%;
  left: 25%;
  max-width: 100%;
  height: 80%;
  /* transform: scale(0); */
}

img#ue {
  position: absolute;
  /* right: 1000px; */
  top: -5%;
  left: 100%;
  max-width: 100%;
  height: 80%;
  /* transform: scale(0); */
}
.pastevent{
  /* color:black; */
  background-color:#d9d9d9;
  position: absolute;
  /* width:400px; */
  z-index: 2;
  /* position:top 20px; */
  margin-left:  auto;
  margin-top:10px;
  text-align: center;
  /* left: 100%; */
 top: 10%;
  display: block;
 
  /* display: inline-block; */
}
.pastevent h2{
  color: black;
}

.eventdes1{
 position: relative;
  background-color: #d9d9d9;
  width:500px;
  z-index: 1;
  position:top 10px;
  margin: 5px;
  text-align: center;
  height:300px;
  clear: left;
  background: linear-gradient(to bottom, #d9d9d9, transparent);
 
}
.eventdes1 h2{
  color: black;
}
/* .eventdes2{
 position: relative;
  background-color: #d9d9d9;
  width:500px;
  z-index: 2;
  position:top 20px;
  margin: 5px;
  text-align: center;
  height:300px;
  clear: right; 
  background: linear-gradient(to bottom, #d9d9d9, transparent);

   display: inline-block;
} */

.eventimg{
  position: relative;
  width: 500px;
  height: 300px;
  position:top 20px;
  margin: 5px;
  z-index: 2;
  clear: right;
  
}
carouselslide{
  position: relative;
  /* width: 500px; */
  left: 50%;
  /* height: 300px; */
top: 50%;
  margin: 5px;
  
  /* clear: right;   */
}

.aboutUs{
  top: 200%;
}
/* .eventdes2 h2{
  position: absolute;
  color: black;
  left: 500px;
  right: 500px;
} */
#pe{
  left: 35%;
 top: 10px;   
 /* margin-top: 5px; */
}
#ed1{
  top: 20%;
  left: 50%;
  /* to */
 /* top: 10px; */
 /* margin-top: 5px; */
}
#ed2{
   top: -18%;
  left: 10%;
  /* right: 500px; */
 /* top: 10px; */
 /* margin-top: 5px; */
}

:root {
	--transparent-grey: rgba(0,0,0,0.5); 
}

/* Font for text */
body { 
	font-family: "Helvetic Neue", Sans-serif; 
}

/* Width of carousel */
#window, #slide-container {
 	width: 400px;
}

/* Height of carousel */
#slide-container {
	height: 200px;
	overflow: hidden; 
	position: relative; 
}

.slide {
	width: 100%; 
	min-height: 200px; 
}

.slides {
	display: block; 
}

/* Style of arrows */
.arrow {
	color: white; 
	font-size: 26px; 
	position: absolute; 
	top: 50%; 
	transform: translate(0%, -50%); 
	padding: 16px; 
	background-color: rgba(0,0,0,0); 
	transition: background-color 0.3s ease; 
}

.arrow:hover {
	cursor: pointer;
	background-color: var(--transparent-grey); 
}

#next {
	left: 100%; 
	transform: translate(-100%, -50%); 
	border-radius: 4px 0px 0px 4px; 
}

#previous {
	border-radius: 0px 4px 4px 0px; 
}

#text-bar {
	background-color: var(--transparent-grey);
	width: 100%;
	height: 36px; 
	position: absolute; 
	top: 100%;
	transform: translate(0%, -100%);  
	text-align: center; 
	height: 36px;
  line-height: 36px;
}

#place {
	padding: 0px;
	margin: 0px; 
	color: white;
	position: relative;
	display: inline-block;
}

#dotsContainer {
	width: 100%;
	height: 20px; 
	text-align: center; 
}

.dots {
	width: 8px;
	height: 8px;
	background-color: rgba(0,0,0,0.2); 
	border-radius: 100%; 
	display: inline-block; 
	margin: 8px 2px; 
}

.dots:hover {
	cursor: pointer; 
	background-color: rgba(0,0,0,0.4);
}

.activeDot {
	background-color: rgba(0,0,0,0.6); 
}

