@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Pacifico&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
}

#ed1{
  top: 20%;
  /* left: 50%; */
  /* to */
 /* top: 10px; */
 /* margin-top: 5px; */
}
#ed2{
   /* top: 20%; */
  /* left: 25%; */
  width: 50%;
  /* right: 500px; */
 /* top: 10px; */
 /* margin-top: 5px; */
}
#carousel-control-next{
   top: 20%;
  left: 25%;
  width: 50%;
  /* right: 500px; */
 /* top: 10px; */
 /* margin-top: 5px; */
}

#myCarousel .carousel-item .mask {
    position: absolute;
    top: 0;
	left:0;
	height:100%;
    width: 100%;
    background-attachment: fixed;
}
#myCarousel h4{
	font-size:50px;
	margin-bottom:15px;
	color:black;
	line-height:100%;
	letter-spacing:0.5px;
	font-weight:600;
}
#myCarousel p{
	font-size:18px;
	margin-bottom:15px;
	color:black;
}
#myCarousel .carousel-item a{background:#F47735; font-size:14px; color:#FFF; padding:13px 32px; display:inline-block; }
#myCarousel .carousel-item a:hover{background:#394fa2; text-decoration:none;  }

#myCarousel .carousel-item h4{-webkit-animation-name:fadeInLeft; animation-name:fadeInLeft;} 
#myCarousel .carousel-item p{-webkit-animation-name:slideInRight; animation-name:slideInRight;} 
#myCarousel .carousel-item a{-webkit-animation-name:fadeInUp; animation-name:fadeInUp;}
#myCarousel .carousel-item .mask img{-webkit-animation-name:slideInRight; animation-name:slideInRight; display:block; height:auto; max-width:100%;}
@media screen and (max-device-width: 768px) {
#myCarousel .carousel-item .mask img{-webkit-animation-name:slideInRight; animation-name:slideInRight; display:block; height:200; max-width:100%;}
}
#myCarousel h4, #myCarousel p, #myCarousel a, #myCarousel .carousel-item .mask img{-webkit-animation-duration: 1s;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
#myCarousel .container {max-width: 1430px;  }
#myCarousel .carousel-item{height:100%; min-height:550px; }
/* #myCarousel{position:relative; z-index:1; background:url(https://i.imgur.com/6axE29k.jpg) center center no-repeat; background-size:cover; } */

.carousel-control-next, .carousel-control-prev{height:40px; width:40px;  transform:translateY(-50%); background-color: #f47735; }


.carousel-item {
    position: relative;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    transition: -webkit-transform .6s ease;
    transition: transform .6s ease;
    transition: transform .6s ease,-webkit-transform .6s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}
.carousel-fade .carousel-item {
	opacity: 0;
	-webkit-transition-duration: .6s;
	transition-duration: .6s;
	-webkit-transition-property: opacity;
	transition-property: opacity
}
.carousel-fade .carousel-item-next.carousel-item-left, .carousel-fade .carousel-item-prev.carousel-item-right, .carousel-fade .carousel-item.active {
	opacity: 1
}
.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-right.active {
	opacity: 0
}
.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0)
}
@supports (transform-style:preserve-3d) {
	.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0)
	}
}
.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}


 
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}


body {
  height: 107vh;
  /* background:url("./bg.png"); */
  /* height: 100%; */
}

.topnav {
  background-color: #c7d0df;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 1.5%;
  font-weight: 500;
}

/* Style the links inside the navigation bar */
.topnav a {
  margin: 0 4%;
  color: black;
  font-weight: 500;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 25px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
@media screen and (max-device-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-device-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

section {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -3px;
}

section:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  /* background: linear-gradient(to top, #000000, transparent); */
  z-index: 100000;
}

.sec {
  position: relative;
  /* padding-bottom: 10px; */
  /* overflow: hidden; */
}

h2 {
  font-size: 2.5em;
  color: #fff;
  margin-bottom: 10px;
}

p {
  font-size: 1.2em;
  color: #fff;
}

img#bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

img#simran {
  position: absolute;
  /* top: 180%;
  z-index: 10000; */
  right: 1500px;
  top: 93%;
  width: 48px;
  height: 64px;
  /* width: 100%; */
  /* transform: scale(0); */
}

img#train {
  position: absolute;
  right: 1000px;
  top: 82%;
  max-width: 100%;
  height: 209px;
  /* transform: scale(0); */
}

@media screen and (max-device-width: 600px){
  img#train {
  position: absolute;
  right: 400px;
  top: 46%;
  max-width: 100%;
  height: 209px;
  /* transform: scale(0); */
}
}

@media(max-width: 1600px){
  img#train {
  position: absolute;
  right: 400px;
  top: 72%;
  max-width: 100%;
  height: 209px;
  /* transform: scale(0); */
}
img#simran {
  position: absolute;
  /* top: 180%;
  z-index: 10000; */
  right: 950px;
  top: 90%;
  width: 48px;
  height: 64px;
  /* width: 100%; */
  /* transform: scale(0); */
}
}
@media(max-width: 1200px){
  img#train {
  position: absolute;
  right: 400px;
  top: 82%;
  max-width: 100%;
  height: 209px;
  /* transform: scale(0); */
}
img#simran {
  position: absolute;
  /* top: 180%;
  z-index: 10000; */
  right: 950px;
  top: 92%;
  width: 48px;
  height: 64px;
  /* width: 100%; */
  /* transform: scale(0); */
}
}
@media(max-width: 1100px){
  img#train {
  position: absolute;
  right: 400px;
  top: 82%;
  max-width: 100%;
  height: 209px;
  /* transform: scale(0); */
}
img#simran {
  position: absolute;
  /* top: 180%;
  z-index: 10000; */
  right: 950px;
  top: 95%;
  width: 48px;
  height: 64px;
  /* width: 100%; */
  /* transform: scale(0); */
}
}

@media(max-width: 991px){
  img#train {
  position: absolute;
  right: 400px;
  top: 82%;
  max-width: 100%;
  height: 209px;
  /* transform: scale(0); */
}
img#simran {
  position: absolute;
  /* top: 180%;
  z-index: 10000; */
  right: 950px;
  top: 92%;
  width: 48px;
  height: 64px;
  /* width: 100%; */
  /* transform: scale(0); */
}
}

@media(max-width: 479px){
  img#train {
  position: absolute;
  right: 400px;
  top: 76%;
  max-width: 100%;
  height: 209px;
  /* transform: scale(0); */
}
}

@media screen and (max-device-width: 768px) {
img#simran {
  position: absolute;
  /* top: 180%;
  z-index: 10000; */
  right: 650px;
  top: 95%;
  width: 48px;
  height: 64px;
  /* width: 100%; */
  /* transform: scale(0); */
}

img#train {
  position: absolute;
  right: 400px;
  top: 76%;
  max-width: 100%;
  height: 209px;
  /* transform: scale(0); */
}
}

img#pe {
  position: absolute;
  /* right: 1000px; */
  top: -10%;
  left: 25%;
  max-width: 100%;
  height: 80%;
  /* transform: scale(0); */
}
img#cs {
  position: absolute;
  /* right: 1000px; */
  top: 10%;
  left: 25%;
  max-width: 100%;
  height: 50%;
  /* transform: scale(0); */
}

img#ue {
  position: absolute;
  /* right: 1000px; */
  top: -5%;
  left: 100%;
  max-width: 100%;
  height: 80%;
  /* transform: scale(0); */
}
.pastevent {
  /* color:black; */
  background-color: #d9d9d9;
  position: absolute;
  width: 400px;
  z-index: 2;
  /* position:top 20px; */
  margin-left: auto;
  margin-top: 10px;
  text-align: center;
  /* left: 100%; */
  top: 10%;
  display: block;

  /* display: inline-block; */
}
.pastevent h2 {
  color: black;
}

.eventdes1 {
  position: relative;
  background-color: #d9d9d9;
  width: 500px;
  z-index: 1;
  position: top 10px;
  margin: 5px;
  text-align: center;
  height: 300px;
  clear: left;
  background: linear-gradient(to bottom, #d9d9d9, transparent);
}
.eventdes1 h2 {
  color: black;
}
/* .eventdes2{
 position: relative;
  background-color: #d9d9d9;
  width:500px;
  z-index: 2;
  position:top 20px;
  margin: 5px;
  text-align: center;
  height:300px;
  clear: right; 
  background: linear-gradient(to bottom, #d9d9d9, transparent);

   display: inline-block;
} */

.eventimg {
  position: relative;
  width: 500px;
  height: 300px;
  position: top 20px;
  margin: 5px;
  z-index: 2;
  clear: right;
}
carouselslide {
  position: relative;
  /* width: 500px; */
  left: 50%;
  /* height: 300px; */
  top: 50%;
  margin: 5px;

  /* clear: right;   */
}

.aboutUs {
  top: 200%;
}
/* .eventdes2 h2{
  position: absolute;
  color: black;
  left: 500px;
  right: 500px;
} */
#pe {
  left: 35%;
  top: 10px;
  /* margin-top: 5px; */
}
#ed1 {
  top: 20%;
  left: 50%;
  /* to */
  /* top: 10px; */
  /* margin-top: 5px; */
}
#ed2 {
  top: 50;
  left: 25%;
  /* right: 500px; */
  /* top: 10px; */
  /* margin-top: 5px; */
}

@media screen and (max-device-width: 768px) {
#ed2{
  left: 0%;
width: 100%;
margin-bottom: 20%;
}
}

:root {
  --transparent-grey: rgba(0, 0, 0, 0.5);
}

/* Font for text */
body {
  font-family: "Helvetic Neue", Sans-serif;
}

/* Width of carousel */
#window,
#slide-container {
  width: 400px;
}

/* Height of carousel */
#slide-container {
  height: 200px;
  overflow: hidden;
  position: relative;
}

.slide {
  width: 100%;
  min-height: 200px;
}

.slides {
  display: block;
}

/* Style of arrows */
.arrow {
  color: white;
  font-size: 26px;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  padding: 16px;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease;
}

.arrow:hover {
  cursor: pointer;
  background-color: var(--transparent-grey);
}

#next {
  left: 100%;
  transform: translate(-100%, -50%);
  border-radius: 4px 0px 0px 4px;
}

#previous {
  border-radius: 0px 4px 4px 0px;
}

#text-bar {
  background-color: var(--transparent-grey);
  width: 100%;
  height: 36px;
  position: absolute;
  top: 100%;
  transform: translate(0%, -100%);
  text-align: center;
  height: 36px;
  line-height: 36px;
}

#place {
  padding: 0px;
  margin: 0px;
  color: white;
  position: relative;
  display: inline-block;
}

#dotsContainer {
  width: 100%;
  height: 20px;
  text-align: center;
}

.dots {
  width: 8px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  display: inline-block;
  margin: 8px 2px;
}

.dots:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.4);
}

.activeDot {
  background-color: rgba(0, 0, 0, 0.6);
}

.footer-section {
  /* background: #151414; */
  position: relative;
  font-family: 'Amaranth', sans-serif;
}

ul {
  margin: 0px;
  padding: 0px;
}

.footer_text {
  /* color :black; */
  font-size: 2.4rem;
  color: white;
  font-family: 'Amaranth', sans-serif;
}
.footer_row {
  font-family: 'Amaranth', sans-serif;
  display: flex;
  justify-content: center;
  background-color: black;
}
.col-1-of-4 {
  font-family: 'Amaranth', sans-serif;
  margin-right: 2%;
}
.footer_para {
  font-family: 'Amaranth', sans-serif;
  /* color: black; */
}
.copyright {
  font-family: 'Amaranth', sans-serif;
  /* color: black; */
  font-size: 1rem;
  margin-top: 10%;
  color: white;
}
.logo {
  height: 334px;
  width: 365px;
}
.cont {
  position: relative;
  top: -87px;
}

.textpe {
  position: absolute;
  color: black;
  top: -10%;
  left: 25%;
}

#textpe {
  position: absolute;
  color: black;
  top: -10%;
  left: 25%;
}

.coming-soon-img {
  z-index: 999 !important;
  position: absolute;
  left: 20%;
}

@media screen and (max-device-width: 768px) {
  .coming-soon-img {
    width: 200px;
    top: 40%;
  }
}
@media screen and (min-device-width: 768px) {
  .coming-soon-img {
    width: 700px;
    top: 20%;
    left: 25%;
  }
}
.footer{
  font-family: 'Amaranth', sans-serif;
}
@media screen and (min-device-width: 786px){
.footer-box4{
  margin-top: 25px;
  padding-left:226px ;
}
.footer-box2{
  margin-top: 25px;
  padding-left: 40px;
}
.cont{
  width: 1000px;
  margin-top: 20px
}
}
